<%= form_for(@blog_entry, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @blog_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_entry.errors.count, "error") %> prohibited this blog_entry from being saved:</h2>

      <ul>
      <% @blog_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label t(:title), :for => "blog_entry_title", :class => "control-label" %>
    <div class="controls">
        <%= f.text_field :title, placeholder: t(:title_placeholder) %>
    </div>
  </div>
  <%= f.text_area :story, :class => 'ckeditor' %>

  <br/>
  <div class="actions">
    <%= f.submit :class => "btn" %> <%= link_to t(:cancel), user_blog_entries_blog_entries_path(:user_id => current_user), :class => "btn" %>
  </div>
<% end %>
