
<ul class="breadcrumb">
	<li><%= link_to "Return to blog list", root_path %></li>
	<span class="divider">/</span>
</ul>

<div id="user_nav">
	<% if user_signed_in? %>
		Signed in as <%= link_to current_user.email, edit_user_registration_path %>. Not you?
		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Sign In", new_user_session_path %>
	<% end %>
</div>
<br/>
<br/>

<%= render 'form' %>

<%= link_to 'Back', blog_entries_path %>
