<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= raw(@blog_entry.title) %>
</p>

<p>
  <b>Story:</b>
  <%= raw(@blog_entry.story) %>
</p>


<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
