<style type="text/css">
    .article {
        background-color: #F1F8E0;
        box-shadow: 5px 5px 5px #888888;
        padding-left: 5px;
        padding-top: 5px;

        padding-right: 5px;
    }

    .title {
        color:#2887bf;
        font-size:20px;
        line-height:25px;
        font-family:'Lucida Grande', 'Trebuchet', 'Tahoma', 'Verdana', 'Arial';
    }

    .asset-metabar {
        border:1px solid #e6e6e6;
        border-radius:3px;
        display:table-cell;
        margin:20px 0 0 0;
        width:918px}
    .asset-metabar-item {
        float:left;
        font-size:12px;
        font-weight:700;
        line-height:14px;
        margin:6px 0;
        padding:2px 10px;
        position:relative}

    .asset-metabar-avatar {
        float:left;
        margin:1px 0 0 1px
    }

    .asset-metabar-time {
        border-left:1px solid #e1e1e1;
        color:#999;
        font-style:italic;
        font-weight:400
    }
</style>

<% if @blog_entries.count == 0 %>
    No blogs available. Check back later.
    <br/>
    <br/>
<% else %>
    <% @blog_entries.each do |blog|%>
        <div class="article">
          <div class="title">
            <h1><%= blog.title %></h1>
          </div>
          <div class="asset-metabar">
        <span class="asset-metabar-time asset-metabar-time.nobyline">
          Created at:
          <%= blog.updated_at.in_time_zone('Eastern Time (US & Canada)') %>
        </span>
          </div>
          <br/>
          <br/>
          <% unless blog.image_url.nil? %>
            <%= image_tag blog.image_url(:medium).to_s, :style => "float:right;" %>
        <% end %>
        <br/>
          <p><%= raw(blog.story) %></p>
          <% if user_signed_in? && blog.user_id == current_user.id  %>
            <p> <%= link_to "Edit Entry", edit_blog_entry_path(blog.id), :class => "btn" %> <%= link_to "Delete Entry", blog_entry_path(blog.id), :method => :delete, :class => "btn" %></p>
          <% end %>
          <hr>
        </div>
    <% end %>
<% end %>
<br />