<style type="text/css">
  .article {
    background-color: #F1F8E0;
    box-shadow: 2px 2px 2px #888888;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
	color:#2887bf;
    font-size:14px;
    font-family:'Lucida Grande', 'Trebuchet', 'Tahoma', 'Verdana', 'Arial';    
  }

  .bio {
    float: right;
  }

</style>

<% @users.each do |user| %>
	<div class="article">
    <div class="row-fluid">
      <div class="span2">
        <% unless user.image_url.nil? %>
            <%= image_tag user.image_url(:thumb).to_s %>
        <% end %>
      </div>
      <div class="span6">
        <%= link_to raw(user.bio_appender), blog_entries_path(:user_id => user.id), title: "Click here to see a listing of blog entries", rel: "tooltip", :data => {placement: "bottom"}%>
      </div>
      <div class="span4">
        <% unless user.get_last_blog_entry.nil? %>
            <%= user.get_last_blog_entry.updated_at.in_time_zone('Eastern Time (US & Canada)') %>
        <% else %>
            There are no recent blogs
        <% end %>
      </div>
    </div>
	</div>
	<br/>
<% end %>
<br/>
<br/>
<br/>
<br/>

<% if user_signed_in? %>
  Signed in as <%= link_to current_user.email, edit_user_registration_path %>. Not you?
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %><br/>
    Create/Edit blog entries <%= link_to "Click Here", user_blog_entries_blog_entries_path(:user_id => current_user) %>
<% else %>
    <%= link_to t(:login), user_session_path %>
<% end %>
